.main-footer {
  display: flex;
  background-color: #1f5156;
  color: white;
  padding-bottom: 1em;
  padding-top: 1em;
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}