
.sidemenu-bars {
    font-size: 2rem;
    margin-left: 2rem;
    background: none;
}
.side-menu {
    background-color: #1f5156;
    height: 100vh;
    width: 210px;
    display: flex;
    justify-content: center;
    position: fixed;
    left: -100%;
    transition: 850ms;

}
.side-menu.active {
    top:8%;
    left:0;
    transition: 350ms;

}

.sub-text{
    display: flex;
    justify-content: start;
    color: white;
    list-style: none;
    padding: 6px 0px 0px 14px;
    align-items: center;
    height: 30px;
}

.sub-text a { 
    display: flex;
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 40px;
    height: 100%;
    width: 95%;
    border-radius: 5px;
    align-items: center;
    padding: 0 14px;

}
.sub-text a:hover{
    border: 1px solid #ffdd40;
}

.side-text{
    display: flex;
    align-items: center;
    color: white;
    padding: 6px 0px 6px 14px;
    justify-content: start;
    list-style: none;
    height: 40px;
}

.side-text a { 
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 18px;
    height: 100%;
    width: 95%;
    align-items: center;
    padding: 0 14px;
    border-radius: 4px;

}
.side-text a:hover{
    border: 1px solid #ffdd40;
}
.side-menu-items{
   width: 100%; 
}
.sidebar-toggle {
    display: flex;
    background-color: #060b26 ;
    height: 80px;
    width: 0%;
    align-items: center;
    justify-content: start;
}
span{
    margin-left: 14px;

}