.mainDiv{
  display: flex;
  flex-direction: row;
}

.linkDiv {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0rem 10%;
  height: 4rem;
  

  background-color: #202020;
  color: #74dacc;
  font-size: 2rem;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.header li {
  margin: 0 var(--size-4);
}

.header a {
  color: var(--color-grey-100);
  font-size: var(--size-4);
}

.header a:hover,
.header a:active,
.header a.active {
  color: var(--color-grey-200);
}

@media (min-width: 768px) {
  .header ul {
    gap: 0.5rem;
  }

  .header a {
    font-size: var(--size-5);
  }
}

.navigation a {
  text-decoration: none;
  color: #74dacc;
  font-size: 2rem;
}